@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

:root{
    --primary-white:#fff;
}

*{
      font-family: 'Work Sans', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body{  
      background: #ee9ca7;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      display: flex;
      justify-content: center; 
      align-items: center;
      min-height: 100vh;
}


.player-container{
      height: 500px;
      width: 400px;
      background:lightpink;
      border-radius: 25px;
      box-shadow: 0 15px 30px rgba(0,0,0, .3);
    
}
.player-container .h2,
.player-container .h3,
.progress-container,
.player-controls{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}
.h3{
    opacity: 0.5;
}
.finish{
float:right;
}

.img-container{
      width: 300px;
      height: 300px;
      position: relative;
}

.img-container img{
      position:absolute;
      top: -50px;
      left: 50px;
      width: 100%;
      height: 100%;
}


.white-line{
      width:300px;
      height: 5px;
      background: var(--primary-white);
      border-radius: 20px;
      margin-bottom: 2px;
      margin-top: 4px;
}
.fa-backward-fast
 {
     padding-right: 20px;
}

.fa-forward-fast{
      padding-left: 20px;
}
